body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px 162px 0;
  box-sizing: border-box;
  gap: 28px;
}

.search_vacancies {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.loading_img {
  width: 130px;
  height: auto;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
